window {
  border-radius: 10px;
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
}
#outer-box {
  border: 2px solid #808080;
  border-radius: 10px;
  background-color: #fff;
}
#input {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;
  padding: 4px;
  border-radius: 10px;
  background-color: #f3f3f4;
}
#inner-box {
  margin: 0 8px;
  padding: 4px 0;
  border-radius: 10px;
  background-color: #f3f3f4;
}
#entry {
  font-size: 18px;
  margin: 4px 8px;
  padding: 4px;
  border-radius: 10px;
  background-color: #fff;
}
#entry:selected {
  background-color: #ff928f;
}
#text:selected {
  font-weight: bold;
  color: #000;
}
