* {
  font-family: "JetbrainsMono Nerd Font", "Noto Sans Mono";
  font-size: 14px;
  font-weight: bold;

  min-height: 10px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
}
.modules-left,
.modules-right {
  margin: 4px;
  padding: 4px;

  color: #4c4f69;
  border-radius: 8px;
  background-color: #eff1f5;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
}

#memory,
#temperature,
#battery,
#network,
#clock {
  padding: 0 6px;

  border-left: 3px solid #4c4f69;
}
#mpd,
#custom-media,
#custom-notification,
#pulseaudio,
#backlight {
  padding: 0 6px;

  border-right: 3px solid #4c4f69;
}
#memory,
#backlight {
  border: none;
}
#tray {
  padding: 0 6px;
}

#tray > .active {
  background-color: #acb0be;
}

#tray > .needs-attention {
  background-color: #e64553;
}
.modules-center {
  min-width: 44px;

  background-color: #eff1f5;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2), -2px 0 2px rgba(0, 0, 0, 0.2);
}

#taskbar {
  background-color: #eff1f5;
}

#taskbar button {
  padding: 0 4px;

  border-radius: 0;
}

#taskbar button.active {
  transition: background-color 0.3s ease-out;

  background-color: #b7bdf8;
}
#taskbar button:hover {
  background-color: #cad3f5;
}
#taskbar button.minimized {
  transition: opacity 0.3s ease-out;

  opacity: 0.6;
}
@keyframes blink {
  to {
    color: #e6e9ef;
    background-color: #e64553;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  color: #4c4f69;
  background-color: #eff1f5;
}

#temperature.critical {
  color: #e6e9ef;
  background: #e64553;
}
