#colors
{
    background: #a7d479;
    background: #fdd28e;
    background: #ecc5f4;
    background: #ff928f;
    background: #a2e0df;
}

*
{
    font-family: 'JetbrainsMono Nerd Font';
    font-size: 15px;

    min-height: 10px;

    border: none;
    border-radius: 10px;
}

window#waybar
{
    border-radius: 0;
    /* background: linear-gradient(to left top, pink, skyblue); */
    /* background: hsl(356, 94%, 94%); */
    background: transparent;
}

window#waybar.hidden
{
    opacity: .2;
}

#window
{
    margin-top: 4px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: transparent;
    border-radius: 10px;
    background: transparent;
}

#tags
{
    font-size: 4px;

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 12px;

    transition: none;

    border-radius: 10px;
    background: #161320;
}

#tags button
{
    font-size: 16px;

    transition: none;

    color: #b5e8e0;
    border-radius: 2px;
    background: transparent;
}

#tags button.occupied
{
    font-size: 4px;

    transition: none;

    color: #f28fad;
    background: transparent;
}

#tags button.focused
{
    color: #abe9b3;
    border-top: 2px solid #abe9b3;
    border-bottom: 2px solid #abe9b3;
}

#tags button:hover
{
    transition: none;

    color: #fae3b0;
    color: #e8a2af;
    border-color: #e8a2af;
    box-shadow: inherit;
    text-shadow: inherit;
}

#tags button.focused:hover
{
    color: #e8a2af;
}

#network
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #ff928f;
}

#pulseaudio
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #1a1826;
    border-radius: 10px;
    background: #ecc5f4;
}

#pulseaudio.muted
{
    color: #ff928f;
}

#battery
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #fdd28e;
}

#battery.plugged,
#battery.charging
{
    color: #161320;
    background-color: #a2e0df;
}

#battery.critical:not(.charging)
{
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    color: #161320;
    background-color: #ecc5f4;
}

@keyframes blink
{
    to
    {
        color: #fff;
        background-color: #ff928f;
    }
}

#backlight
{
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #ff928f;
}

#clock
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #a2e0df;
}

#memory
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #a7d479;
}

#cpu
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #a9def9;
}

#tray
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #a2e0df;
}

#custom-launcher
{
    font-size: 24px;

    margin-top: 4px;
    margin-left: 8px;
    padding-right: 5px;
    padding-left: 10px;

    transition: none;

    color: #89dceb;
    border-radius: 10px;
    background: #161320;
}

#custom-power
{
    font-size: 20px;

    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 5px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #f28fad;
}

#custom-wallpaper
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #c9cbff;
}

#custom-updates
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #e8a2af;
}

#custom-media
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #a7d479;
}

#temperature
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #fdd28e;
}

#temperature.critical
{
    background: #ff928f;
}

#idle_inhibitor
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 10px;

    transition: none;

    color: #161320;
    border-radius: 10px;
    background: #d3f8e2;
}

#taskbar button.minimized
{
    transition: opacity .3s ease-out;

    opacity: .5;
}

#taskbar button.active
{
    transition: border .3s ease-out;

    border-width: 0 0 4px;
    border-style: solid;
    border-color: #ecc5f4;
}

#taskbar
{
    margin: 0 0;
    padding: 0 10px;
}

#taskbar button
{
    margin: 0 2px 0;
    padding: 0 2px 0;

    border-width: 2px 0 2px;
    border-radius: 0;
}

/* #taskbar button.active {
	transition: background-color .3s ease-out;

	border-radius: 50%;
	background-color: #fedfe1;
} */

#custom-media,
#memory,
#tray,
#temperature,
#battery,
#network,
#pulseaudio,
#backlight,
#clock
{
    box-shadow: 3px 3px 68px -5px rgba(255, 255, 255, .5),
    inset -2px -2px 16px -5px rgba(255, 255, 255, .6),
    inset 0 3px 28px -15px rgb(255, 255, 255);
}
